/** Add css rules here for your application. */

button{
	border: 0px;	
}

.headerPanel {
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    background-color: #0CA2C7;
}
	    
.createBasketButton {
	color: White;
	border: 0px;
	font-style: normal;
	font-weight: bolder;
	background-color: #0CA2C7;
}


button{
	border: 0px;	
}

.communityButtons .communityButtons-hover {
	height: 30px;
	width: 150px;
	font-style: normal;
	font-weight: bolder;
}

.communityButtons {
	color: #0CA2C7;
	background-color: White;
}

.communityButtons-hover {
	color: #0CA2C7;
	background-color: #F8F8F8;

}

.mainHTMLPanel {
	width:100%;
	margin-top: 0px;
	padding-top: 0px;
	background-color: #F8F8F8;	
}

.mainInnerPanel {
	align: center;
	height:80%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	border-right: 1px solid #0CA2C7;
	border-bottom: 1px solid #0CA2C7;
	border-left: 1px solid #0CA2C7;
	vertical-align: top;
	background-color: white;
}

.communityLabel{
	background-color: #F8F8F8;
}

.communityLabel-hover{
	background-color: #F8F8F8;
}

.header-simplePanel {
	align: right;
}
.docklayout-center {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.docklayoutpanel-north {
	margin: 0px;
	padding: 0px;
}

/* Shop Basket StackPanel */

.shopBasketStackPanelHeader {
  font-size: .8em;
  background-color: #0CA2C7;
  color: white;
}

.shopBasketStackPanelItem {
  font-size: .5em;
}

.shopBasketStackPanel {
  padding-left: 7px;
  font-weight: bold;
  font-size: 1.4em;
  border: 1px solid #0CA2C7;
  background-color: #F8F8F8;
}

.stackPanelContainer{
	width: 300px;
	height: 500px;		
}

