/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
	color: #777777;
	margin: 0px;
	padding: 0px;
	border: 1px solid #0CA2C7;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.div-header{
	background-color:#0CA2C7;
	align: center;
	height:100%
}



